.h1-support{
    h1{
        font-weight: bold;
        color: #00aa88ff ;
    }
  
}

.support-col{
    .card{
        background: none;
        border: none;
        outline: none;
    }
    img{
        width: 200px;
        height: 200px;
    }
}