.collapse-list{
    width: 100%;
    .card{
        border-radius: 20px;
        cursor: pointer;
    }
 
    .card-header{
        background: #00aa88ff;
    }
    .card-body{
        border: none;
        background: #f5f5f5;
        text-decoration: none;
        outline: none;
        font-weight: bold;
        color: rgb(104, 100, 100);
        
    }
    
    
       
  h2{
    color: white;
    font-weight: bold;
  }

  button{
      background: none;
      color: white;
      outline: none;
      text-decoration: none;
     &:hover{
         background: none;
         text-decoration: none;
         color: rgb(236, 213, 213);
     }
  }
}
.list-list{
    li{
        background: none;
        border: none;
    }
    i{
        color: rgb(51, 87, 14);
    }
}

.btn-daftar{
    button{
        box-shadow: 0px 0px 11px rgba(0,0,0,0.3);
        background: none;
        font-weight: bold;
        color: #00aa88ff;
        border: 3px solid #00aa88ff;
        padding: 20px;
        border-radius:50px;
        &:hover{
            color: white;
            background: rgb(5, 125, 101);
        }
    }
}

@media only screen and(max-width:800px){
    .collapse-list{
        .card-body{
            font-size: 5px;
        }
    }
}