.tentang-kami{
    background: #00A988;
    .visi,
    .misi
    {
        width: 100%;
        h3{
            border-top-right-radius: 26px;
            border-top-left-radius: 26px;
            font-weight: bold;
        }
        p{
            font-weight: bold;
            border-bottom-right-radius: 26px;
            border-bottom-left-radius: 26px;
        }
    }
}

@media screen and (min-width : 720px){
    .tentang-kami{
        position: relative;
        .visi{
            width: 35%;
            position: relative;
            left: 4%;
        }
        .misi{
            width: 50%;
            position: relative;
            right: 0;
        }
    }
}


/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}