@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

*{
font-family: 'Quicksand', sans-serif;;    
}


.navbar-utama{
    li{
        margin-right: 15px;
    }
    a{
     
        color: white;
        font-weight: bold;
        &:hover{
            color: rgb(63, 56, 56);
        }
    }
}

.navbar{
    img{
        width: 150px;
    }
}

.fixed-top{
    z-index:900 !important;
}

#navbar-one{
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.box-login{

  border-radius: 10px;
  a{
      color:#153e60 ;
  }
  &:hover{

      a{
        color:#184e7a ;
      }
  }
}