.title-teknologi{
    .card{
        width: 40%;
        border-radius: 20px;
        position: absolute;
        bottom: -50px;
        box-shadow: 0 0 12px #7777;
        h1{
            font-weight: bold;
            color: #00aa88ff;   
        }
    }
}